<!-- title: Find Jobs -->
<!-- jinja -->

{% include "templates/includes/select_header.html" %}

<div>
	{% if not jobs %}
	<p class="text-muted">
		No Jobs found for the matching criteria.
	</p>
	{% endif %}
	{% for j in jobs %}
	<div class="row partner-row">
		<div class="col-md-12">
			{% if j.owner == frappe.user and j.status == "Open" -%}
			<div class="pull-right" style="margin-top: 12px;">
				<a class="text-muted small" href="post-jobs?name={{ j.name }}">
				<i class="icon-edit middle"></i> Edit Job</a>
			</div>
			{% else %}
			<div class="pull-right" style="margin-top: 12px;">
				<span class="label label-{{ 'warning' if j.status=='Open' else 'success'  }}">{{ j.status }}</span>
			</div>
			{%- endif %}
			<h4>
				<a href="/community/jobs/{{ j.page_name }}">
					{{ j.job_title }}
				</a>
			</h4>
			<div class="text-muted small">{{ frappe.format_date(j.creation) }}</div>
			<p>{{ j.job_detail[:300] }}</p>
			<p>
				<span class="label label-default">{{ j.country }}</span>
				<span class="label label-info">{{ j.service }}</span>
				{% if j.owner == frappe.user -%}
					<span class="label label-warning">My Job</span>
				{% elif j.my_bid -%}
					<span class="label label-success">Bid</span>
				{% endif %}
			</p>
		</div>
	</div>
	<hr>
	{% endfor %}
	{% if jobs|len==50 %}
	<p class="text-muted">Use filters to show more jobs</p>
	{% endif %}
</div>
<div>
	<a href="/post-jobs" class="btn btn-default">
		Post A New Job
	</a>
</div>
