{% include "templates/includes/select_header.html" %}
{%- from "templates/includes/community_macros.html" import service_cloud, partner_type, stars -%}
<div>
	{% if not partners and frappe.form_dict.country %}
	<p class="text-muted">
		No Service Providers found for the matching criteria.
    </p>
	{% endif %}
	{% for p in partners %}
	<div class="row partner-row">
		<div class="col-md-3">
			{% if p.logo -%}
			<a class="no-decoration" href="{{ p.route }}">
				<img itemprop="brand" src="{{ p.logo }}" class="partner-logo no-shadow"
					alt="{{ p.partner_name }}" title="{{ p.partner_name }}" style="max-width: 80%" />
			</a>
			{%- endif %}
		</div>
		<div class="col-md-9">
			<a class="no-decoration" href="{{ p.route }}">
				<h4>{{ p.partner_name }}</h4>
			</a>
			<p><span class="label label-default">{{ p.country }}</span></p>
			<p>{{ partner_type(p) }}</p>
			<p>{{ p.introduction }}</p>
		</div>
	</div>
	<hr>
	{% endfor %}
</div>
{% if all_partners %}
<p class="text-muted">Service Providers are listed by their contributions, sponsorships and engagement in the community</p>
<div class="row">
    {% for p in all_partners %}
    <div class="col-sm-4" style="height: 90px;">
        <p>
            {% if p.partner_category != "Unverified" %}
            <label class="label label-{{ "warning" if p.partner_category=="Verified" else "success" }}" style="margin-right: 5px; display: inline-block">
                {{ p.partner_category }}</label>
            {% endif %}
            <a href="{{ p.route }}">
                {{ p.partner_name }}</a>
            <br><a class="text-muted small no-decoration" href="?country={{ p.country }}">{{ p.country }}</a></span>
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="row">
	<div class="col-md-12 text-center">
		{% if partners|len==50 -%}
			<p class="text-muted">Use filters to see more service providers</p>
		{%- endif %}

        <div style="margin-top: 50px;">
        <p>
            <a href="/become-a-partner" class="btn btn-primary" style="margin-top: 10px;">
				Register as a Service Provider</a>
        </p>
        {% if not frappe.form_dict.country %}
        <p><a href="https://frappe.io/about#contact" target="_blank">
            Become a verified service provider</a></p>
        </div>
    <p>
    {% endif %}
	 </div>
</div>
<style>
	.partner-logo {
		margin-top: 5px;
	}
</style>
