{% block title %}Bid{% endblock %}
{% block content %}
{% if frappe.user in (owner, job.owner) and status in ("Accepted", "Open") %}
<div >
	{% if job.owner == frappe.user and status=="Open" %}
	<button class="btn btn-primary btn-accept">
		Accept Bid</button>
	{% elif owner == frappe.user and status=="Open" %}
	<a class="btn btn-default btn-delete">
		Withdraw Bid</a>
	{% elif job.owner == frappe.user and status=="Accepted" %}
	<div class="alert alert-success">You have accepted this bid. To mark this job as completed, <a href="/{{ job.get_route() }}">go back to the Job Page</a></div>
	{% endif %}
</div>
<hr>
{% endif %}
<div class="row">
	<div class="col-sm-4 text-right">Bid Status</div>
	<div class="col-sm-8"><span class="label label-{{ 'success' if status in ('Open', 'Accepted') else 'danger' }}">{{ status }}<span></div>
</div>
<br>
<div class="row">
	<div class="col-sm-4 text-right">Job</div>
	<div class="col-sm-8"><a href="{{ job.get_route() }}">{{ job.job_title }}</a></div>
</div>
<div class="row">
	<div class="col-sm-4 text-right">Bidder</div>
	<div class="col-sm-8"><a href="{{ partner.get_route() }}">{{ partner.partner_name }}</a></div>
</div>
<br>
<div class="row">
	<div class="col-sm-4 text-right">Company</div>
	<div class="col-sm-8">{{ job.company_name }}</div>
</div>
<div class="row">
	<div class="col-sm-4 text-right">Approx Budget (US $)</div>
	<div class="col-sm-8">{{ job.budget }}</div>
</div>
<div class="row">
	<div class="col-sm-4 text-right">Country</div>
	<div class="col-sm-8">{{ job.country }}</div>
</div>
<div class="row">
	<div class="col-sm-4 text-right">Delivery Type</div>
	<div class="col-sm-8">{{ job.delivery }}</div>
</div>
<div class="row">
	<div class="col-sm-4 text-right">Job Details</div>
	<div class="col-sm-8">{{ job.job_detail }}</div>
</div>

<hr>
<h4><i class="icon-comments text-muted"></i> Discussion</h4>
<br>
{% include 'templates/includes/comments/comments.html' %}

{% endblock %}
{% block script %}
<script>
frappe.ready(function() {
	$(".btn-accept").on("click", function() {
		frappe.call({
			type: "POST",
			btn: $(this),
			method: "community_erpnext_com.erpnext_community_portal.doctype.frappe_job_bid.frappe_job_bid.accept",
			args: {bid: "{{ name }}"},
			callback: function(r) {
				if(!r.exc) {
					location.reload();
				}
			}
		})
	});

	$(".btn-delete").on("click", function() {
		frappe.call({
			type: "POST",
			btn: $(this),
			method: "community_erpnext_com.erpnext_community_portal.doctype.frappe_job_bid.frappe_job_bid.delete",
			args: {bid: "{{ name }}"},
			callback: function(r) {
				if(!r.exc) {
					location.href = "/jobs?jobs=my-bids";
				}
			}
		})
	});

});
</script>
{% endblock %}
